<header class="bg-primaryBlue text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-xl font-bold">Academia Fenix</h1>
        <!-- Menú de navegación -->
        <nav class="flex gap-4">
            <a href="/" class="hover:underline text-white">Inicio</a>
            <a href="/about" class="hover:underline text-white">Sobre Nosotros</a>
            <a href="/events" class="hover:underline text-white">Eventos</a>
            <a href="/blog/news" class="hover:underline text-white">Blog / Noticias</a>
            <a href="/contact" class="hover:underline text-white">Contacto</a>
        </nav>
    </div>
</header>